
/* ------------------------ */
/* ::: Yupik Order List ::: */
/* ------------------------ */

// The html

// <ol class="order-list">
//     <li class="order-list__item" data-list-num="1">
//         First item
//     </li>
//     <li class="order-list__item" data-list-num="2">
//         Second item
//     </li>
//     <li class="order-list__item" data-list-num="3">
//         Third item
//     </li>
// </ol> 



// Default variable
$yupik-order-list-namespace: $inuit-namespace !default;

$yupik-order-list-num-width: 25px !default;
$yupik-order-list-border-width: 2px !default;
$yupik-order-list-border-color: #db6313 !default;
$yupik-order-list-text-color: #db6313 !default;


// The scss
.#{$yupik-order-list-namespace}order-list,
%#{$yupik-order-list-namespace}order-list {
    list-style: none;
    padding-left: 0;
}

    .#{$yupik-order-list-namespace}order-list__item,
    %#{$yupik-order-list-namespace}order-list__item {
        position: relative;
        padding-left: $yupik-order-list-num-width + 8;

        &:before {
            content: attr(data-list-num);
            position: absolute; left: 0; top: 0;
            width: $yupik-order-list-num-width;
            height: $yupik-order-list-num-width;
            border-radius: $yupik-order-list-num-width;
            border: $yupik-order-list-border-width solid $yupik-order-list-border-color;
            font-size: $yupik-order-list-num-width / 2; 
            line-height: $yupik-order-list-num-width - (2 * $yupik-order-list-border-width); 
            font-weight: bold; color: $yupik-order-list-text-color; text-align: center; 
        }
    }